{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

    <div class="col-sm-6 mx-auto">
        {% if request.user.is_authenticated %}
            <h1 class="text-center alert alert-info">Welcome, {{ request.user.username }}</h1>
        {% else %}
            <br><br>
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <i class="fa fa-google-plus-official"></i> Signin with google
            </a><br><br>
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <i class="fa fa-google-plus-official"></i> Signup with google
            </a>
        {% endif %}
    </div>
    <div class="container">
        <hr>
        
        <div class="row">
        {% for post in posts %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{post.photo.url}}" alt="Card image cap">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock content %}